@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-btn-cl: #73bfa1;
}
@theme {
  --breakpoint-3xl: 2560px;
}

@theme {
  --breakpoint-xxs: 320px;
}
        .slider-container {
            overflow: hidden;
        }
        .slider-track {
            display: flex;
            transition: transform 0.3s ease-in-out;
            cursor: grab;
        }
        .slider-track:active {
            cursor: grabbing;
        }
        .slider-card {
            flex: 0 0 100%;
            
        }
        @media (min-width: 768px) {
            .slider-card {
                flex: 0 0 50%;
            }
        }
        
        @media (min-width: 1100px) {
            .slider-card {
                flex: 0 0 33.333333%;
            }
        }
        .line-clamp-1 {
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .line-clamp-4 {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }